<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Leafs</name>
    <description>
        It's autumn and time to recollect leafs!
    </description>
    <author email="pblcrmn@gmail.com">
        Pablo Carmona
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
